<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.duia.leejo0531.dao.QuestionMapper">
	<!-- 질문글을 게시한다. -->
	<insert id="insertQuestion" parameterType="Question">
		insert into Q_Board(
			questionNum,
			userNum,
			timeLimit,
			id,
			regDate,
			modDate,
			title,
			hit,
			questionContent
		) values(
			Q_Board_SEQ.nextval,
			#{userNum},
			#{timeLimit},
			#{id},
			#{regDate},
			#{modDate},
			#{title},
			0,
			#{questionContent}
		)
	</insert>
	
	<!-- 질문글을 삭제한다. (임시) 테스트 되지않음.-->
	<delete id="deleteQuestion" parameterType="Question">
	delete Q_BOARD where usernum = #{usernum} and QuestionNum = #{QuestionNum}
	</delete>
	
	<!-- 대분류 리스트 불러오기 -->	
	<select id="getMajorList" resultType="Major">
		select * from major order by majorNum
	</select>
	<!-- 대분류 불러오기 -->
	<select id="getMajor" parameterType="int" resultType="Major">
		select * from major where majorNum = #{majorNum}
	</select>
	
	<!-- 소분류 리스트 불러오기 -->
	<select id="getMinorList" resultType="Minor">
		select * from minor order by minorNum
	</select>
	
	<!-- 소분류 불러오기 -->
	<select id="getMinor" parameterType="int" resultType="Minor">
		select * from minor where minorNum = #{minorNum}
	</select>
	
	<!-- 대상 질문글 정보를 가져온다.(임시) -->
	<select id="selectOneQuestion" parameterType="Question" resultType="Question">
		select *
		from Q_Board
		where questionNum = #{questionNum}
	</select>
	
	<!-- context가 포함된 모든 질문글을 가져온다. -->
	<select id="searchByContext">
	
	<!-- code here -->
	
	</select>
	
	<select id="getQuestionTag" parameterType="Question" resultType="Tag">
		select tag from tag where questionNum = #{questionNum} order by tag asc
	</select>
</mapper>
