<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.duia.leejo0531.dao.ReplyMapper">

	<!-- 답변을 1개(?)가져온다. -->
	<select id="selectOneReply" parameterType="Reply" resultType="Reply">
		select
		    q_reply.*,
		    userinfo.id as id
		from
		    q_reply,
		    userinfo
		where
 		   q_reply.usernum = userinfo.usernum(+)
 		   and q_reply.questionnum = #{questionNum}
 		   and q_reply.replyNum = #{replyNum}
		order by
		    questionnum, replynum
	</select>
	
	<!-- 샘플데이터 입력 시 사용 쿼리 -->
	<insert id="insertReplyTest" parameterType="Reply">
		insert into q_reply values (q_reply_seq.nextval, #{questionNum}, #{userNum}, sysdate, sysdate, #{replyTitle}, #{replyContent})
	</insert>
	
	<select id="questionReplyList" parameterType="int" resultType="Reply">
		select reply.*, nvl(rec.score, 0) as score from (select reply.REPLYNUM, 
		reply.QUESTIONNUM, 
		reply.USERNUM, 
		to_char(reply.R_REGDATE, 'YYYY-MM-DD') as R_REGDATE, 
		to_char(reply.R_MODDATE, 'YYYY-MM-DD') as R_MODDATE, 
		reply.REPLYTITLE, 
		reply.REPLYCONTENT, 
		userinfo.id from q_reply reply, userinfo userinfo 
		where reply.questionNum = #{questionNum} and reply.usernum = userinfo.usernum order by replyNum) reply, 
		(select replyNum, sum(score) as score from RECOMMENDATION where questionNum = #{questionNum} group by replyNum) rec 
		where reply.replyNum = rec.replyNum(+) and reply.questionNum = #{questionNum} order by reply.replyNum desc
	</select>
	
	<select id="getMaxScoreReply" parameterType="int" resultType="Reply">
		select maxRecomendReply.*, userinfo.id as id
		from userinfo userinfo, 
		(select reply.* from 
			q_reply reply,
			(select  max(testScore.replyNum) KEEP(DENSE_RANK FIRST ORDER BY testScore.score DESC) replyNum from (select replyNum, sum(score) as score from RECOMMENDATION where questionNum = #{questionNum} group by replyNum) testScore) maxreplyNum 
		where reply.replyNum = maxreplyNum.replyNum) maxRecomendReply where maxRecomendReply.userNum = userinfo.userNum
	</select>
	
	<select id="selectReplyList" parameterType="int" resultType="Reply">
		select
		    q_reply.*,
		    userinfo.id as id
		from
		    q_reply,
		    userinfo
		where
 		   q_reply.usernum = userinfo.usernum(+)
 		   and q_reply.questionnum = #{questionNum}
		order by
		    questionnum, replynum
	</select>
	
	<insert id="registReply" parameterType="Reply">
		insert into q_reply values (q_reply_seq.nextval, #{questionNum}, #{userNum}, sysdate, sysdate, 
		<if test="ReplyTitle != null">
			#{ReplyTitle}
		</if>
		<if test="ReplyTitle == null">
			null
		</if>
		,#{replyContent},
		<if test="videoSrc != null">
			#{videoSrc})
		</if>
		<if test="videoSrc == null">
			null)
		</if>
	</insert>
	
	<delete id="deleteReply" parameterType="int">
		delete from q_reply where replyNum = #{ replyNum }
	</delete>
	
	<update id="selectedReply" parameterType="Question">
		update q_board set selectedReplyNum = #{selectedReplyNum} where questionNum = #{questionNum}
	</update>
	
	<select id="myAnswerList" parameterType="Page" resultType="Reply">
		    select
		        *
		    from        
		        (select
		            rownum as r,
		            selected.*
		        from
		            (select
		                q_reply.*,
		                id
		            from
		                q_reply,
		                userinfo
		            where
		                q_reply.usernum = userinfo.usernum
		                <foreach collection="list" item="item">and lower( userinfo.username) = lower( #{search})</foreach>
		            order by
		                replynum desc
		             ) selected
		         )numbered
		    where
           		<![CDATA[ r >= #{from} and r <= #{to} ]]>
	</select>
</mapper>
