<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.duia.leejo0531.dao.TagMapper">
	<resultMap type="Question" id="QuestionResult">
		<id property="questionNum" column="questionNum"/>
		<result property="userNum" column="userNum"/>
		<result property="timeLimit" column="timeLimit"/>
		<result property="qstatus" column="qstatus"/>
		<result property="regDate" column="regDate"/>
		<result property="modDate" column="modDate"/>
		<result property="title" column="title"/>
		<result property="MinorNum" column="MinorNum"/>
		<result property="videoSrc" column="videoSrc"/>
		<result property="questionContent" column="questionContent"/>
		<result property="score" column="score"/>
		<collection property="relatedTag" javaType="ArrayList" ofType="string">
			<result property="tag" column="tag"/>
		</collection>
	</resultMap>
	<!-- 모든 태그를 가져온다. -->
	<select id="selectTags" resultType="Tag">
		select *
		from Tag
	</select>
	
	<!-- tag가 들어간 질문글을 가져온다. -->
	<select id="getQuestionListByTag" parameterType="java.util.ArrayList" resultMap="QuestionResult">
		select
		    *
		from
		    tag,
		    (select
		        q_board.*
		    from
		        q_board,
		        (select
		            *
		        from
		            tag,
		            (select
				        max(tagnum) as tags
				    from
				        tag
				    <trim prefix="where" prefixOverrides="and|or">
				    	<foreach collection="list" item="item">or tag like '%${item}%'</foreach>
				    </trim>
				    group by 
				    	questionnum
		            ) searchedtag   
		        where
		            tag.tagnum = searchedtag.tags
		         ) targetQstn
		    where
		        q_board.questionnum = targetQstn.questionnum
		    ) searchedQstn
		where searchedQstn.questionnum = tag.questionnum(+)
		order by searchedQstn.questionnum, tag.tagnum
	</select>
	<insert id="insertTag" parameterType="Tag">
		insert into tag values (tag_seq.nextval, #{questionNum}, #{userNum}, #{tag})
	</insert>
</mapper>