<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.duia.leejo0531.dao.TagMapper">
	<!-- 모든 태그를 가져온다. -->
	<select id="selectTags" resultType="Tag">
		select *
		from Tag
	</select>
	<insert id="insertTag" parameterType="Tag">
		insert into tag values (tag_seq.nextval, #{questionNum}, #{userNum}, #{tag})
	</insert>
	
	<select id="selectHotTag" resultType="string">
		select
		    tag
		from
		    (select
		        rownum as r,
		        ranked.*
		    from
		        (select
		            count(*),
		            tag,
		            rank() over( order by count(*) desc) as rk
		        from
		            (select
		                *
		            from
		                tag
		            where
		                <![CDATA[
		                tagnum > (
		                    select
		                        count(*)
		                    from
		                        tag
		                ) -150
		                ]]>
		            ) recentTag
		        group by
		            tag
		        order by
		            count(*) desc
		        ) ranked
		    )numbered
		where
		    <![CDATA[numbered.r <= 10]]>
	</select>
</mapper>