<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="us.duia.leejo0531.dao.UsersMapper">
	
	<insert id="insertUserInfo" parameterType="User">
		insert into users values(#{num}, #{userid}, #{password}, #{birthdate}, #{username}, #{tel1}, #{tel2}, #{tel3}, #{image})
	</insert>
	

</mapper>

