<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="us.duia.leejo0531.vo.UserVo" alias="User" />
		<typeAlias type="us.duia.leejo0531.vo.FieldVo" alias="Field" />
		<typeAlias type="us.duia.leejo0531.vo.MajorVo" alias="Major" />
		<typeAlias type="us.duia.leejo0531.vo.MinorVo" alias="Minor" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userMapper.xml" /> 
	</mappers>
</configuration>
