<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="us.duia.leejo0531.vo.UserVO" alias="User" />
		<typeAlias type="us.duia.leejo0531.vo.FieldVO" alias="Field" />
		<typeAlias type="us.duia.leejo0531.vo.MajorVO" alias="Major" />
		<typeAlias type="us.duia.leejo0531.vo.MinorVO" alias="Minor" />
		<typeAlias type="us.duia.leejo0531.vo.IdCheckVO" alias="IdCheck" />
		<typeAlias type="us.duia.leejo0531.vo.QuestionVO" alias="Question" />
		<typeAlias type="us.duia.leejo0531.vo.TagVO" alias="Tag" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userMapper.xml" /> 
	</mappers>
</configuration>
